<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'light_header', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'left_guide_bar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'top_guide_bar' %>
        <div class="row">
          <%= render partial: 'products_guide_section', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'layouts/light_footer' %>
