<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "light_header", page_title: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_product', product: @product %>
    <%= render 'related_product', related_products: @related_products if @related_products %>
  </div>
</section>
